.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  padding: 20px;
  color: white;
}

.App-header {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  left: 20px;
}

.App-logo {
  height: 60px;
  margin-right: 20px;
}

.App-title {
  color: white;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  gap: 10px; /* Add gap between buttons */
}

.btn {
  padding: 60px 60px; /* Maintain the reduced horizontal padding to decrease button width */
  font-size: 60px; /* Maintain the font size */
  cursor: pointer;
  border: 2px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
  transition: all 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.btn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.left-btn {
  /* No background color */
}

.right-btn {
  /* No background color */
}
